p, span, a, button, label, input, h1, h2, h3 {
    font-family: Quicksand;
    font-style: normal;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    margin: 30px 36px;

    justify-content: space-between;
}

.header-left-wrapper {
    display: flex;
    gap: 44px;
}

header .logo {
    color: #000;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.64px;
}

.explore-wrapper {
    position: relative;
    border-radius: 4px;
}

.explore-list {
    position: absolute;
    display: none;
}

.header-left-wrapper form {
    display: flex;
    border: 1px solid #5C5C5C;
    border-radius: 4px;
    width: 294px;
    height: 36px;
    box-sizing: border-box;

    overflow: hidden;
}

.header-left-wrapper input {
    padding-left: 12px;
    border: none;

    width: 294px; 
}

header form button:first-child {
    color: #EEE;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    padding: 10px 12px;
    border: 0px;
    border-radius: 4px;
    border-left: 1px solid grey;
    background-color: #0F8277;
    box-sizing: border-box;
}

.svg-form {
    fill: #EEEEEE;
}

.explore-wrapper:hover .explore-list {
    display: flex;
    flex-direction: column;
    background-color: white;
}


/* ========== */

header form button {
    width: 36px;
    height: 36px;
    background-color: #0F8277;
    border: none;
    box-sizing: border-box;
}

/* .header-right-wrapper a:nth-child(1), .header-right-wrapper a:nth-child(2) {
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}

.header-right-wrapper a:nth-child(1) {
    margin-right: 48px;
}

.header-right-wrapper a:nth-child(2) {
    margin-right: 104px;
}

.header-right-wrapper a:nth-child(3) {
    border-radius: 4px; 
    padding: 10px 12px;

    color: #0F8277;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
}

.header-right-wrapper a:nth-child(4) {
    border-radius: 4px; 
    padding: 10px 12px;
    background-color: #0F8277;

    color: #EEE;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
} */



/* ======================================== */



.hero-block {
    display: flex;
    margin: 32px auto;
    width: 1296px;
    height: 602px;
    gap: 6px;

    border-radius: 12px;
    background-color: #DBF3ED;
}

.hero-block-left {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 170px 88px 184px 110px;
}

.hero-block-left h2 {
    color: #000;
    font-size: 56px;
    font-weight: 700;
    line-height: 120%;
}

.hero-block-left p {
    color: #000;
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
}

.hero-block-links {
    display: flex;
    gap: 24px;
}

.hero-block-links a:first-child {
    color: #EEE;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    padding: 12px 14px;

    border-radius: 4px;
    background-color: #0F8277; 
}

.hero-block-links a:last-child {
    color: #0F8277;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    padding: 10px 12px;

    border-radius: 4px;
    border: 2px solid #0F8277; 
}

.hero-block img {
    width: 526px;
    height: 533px; 
    
    margin: 40px 54px 30px 0px;
}



/* ======================================== */



.programs-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0px auto;
    width: 1296px;
}

.programs-list-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.programs-list-text p:first-child {
    color: #0F8277;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
}

.programs-list-text h2 {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
}

.programs-list-text p:last-child {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
}

/* CARDS */

.programs-list-cards {
    display: flex;
    gap: 22px;
}

.programs-list-cards li a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border-radius: 8px;
    border: 1px solid #DADADA;

    height: 480px;
}

.programs-list-cards li a img {
    width: 416px;
    height: 270px;
    border-radius: 8px 8px 0 0
}

.programs-list-card-content {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;

    height: 210px;
}



.programs-list-card-content p:first-child {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}

.programs-list-card-content p:nth-child(2) {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;

    padding-top: 16px;
}

.programs-list-card-content p:last-child {
    color: #0F8277;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;

    margin-top: auto;
}

.programs-list-card-content p:last-child::before {
    content: '';

    position: relative;
    right: 8px;
    top: 4px;
    margin-left: 8px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../images/svg/cds-react-aria-9.svg);
}

/* CARDS N-S */

.p-list-card-1 div p:first-child::before {
    content: '';

    position: relative;
    right: 8px;
    top: 4px;
    margin-left: 8px;
    display: inline-block;
    width: 72px;
    height: 20px;
    background-image: url(../images/svg/dan-logo\ 1.svg);
}

.p-list-card-2 div p:first-child::before {
    content: '';

    position: relative;
    right: 8px;
    top: 4px;
    margin-left: 8px;
    display: inline-block;
    width: 18px;
    height: 20px; 
    background-image: url(../images/svg/eu_logo.svg);
}

.p-list-card-3 div p:first-child::before {
    content: '';

    position: relative;
    right: 8px;
    top: 4px;
    margin-left: 8px;
    display: inline-block;
    width: 46px;
    height: 20px;
    background-image: url(../images/svg/logo-prjctr.svg)
}

/* ======================================== */



.courses-list {
    display: flex;
    flex-direction: column;
    margin: 80px auto;
    gap: 40px;
    max-width: 1296px;
}

.courses-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.courses-text p:first-child {
    color: #0F8277;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
}

.courses-text h2 {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
}

.courses-text p:last-child {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
}



.courses-list-cards {
    display: flex;
    gap: 22px;
}

.courses-list-cards li a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border-radius: 8px;
    border: 1px solid #DADADA;

    width: 306px;
    height: 480px;
}

.courses-list-cards li a img {
    width: 306px;
    height: 270px;
    border-radius: 8px 8px 0 0
}

.courses-list-card-content {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;

    width: 306  px;
    height: 210px;
}



.courses-list-card-content p:first-child {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}

.courses-list-card-content p:nth-child(2) {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;

    padding-top: 16px;
}

.courses-list-card-content p:last-child {
    color: #0F8277;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;

    margin-top: auto;
}



.courses-list-card-content p:first-child::before {
    content: '';

    position: relative;
    right: 8px;
    top: 4px;
    margin-left: 8px;
    display: inline-block;
    width: 72px;
    height: 20px;
    background-image: url(../images/svg/dan-logo\ 1.svg);
}

.courses-list-more {
    color: #0F8277;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;

    align-self: center;
}

.courses-list-more::after {
    content: '';

    
}
/* CHECK ALL WIDTH AND HEIGHT IN THE END !!! */
/* CHECK ALL WIDTH AND HEIGHT IN THE END !!! */
/* CHECK ALL WIDTH AND HEIGHT IN THE END !!! */